<template>
  <section class="layout-article">
    <h1>(article) Title: {{ 'title here' }}</h1>
    <Nuxt />
    <nav>
      <NuxtLink to="/">Home page</NuxtLink>
    </nav>
  </section>
</template>

<style scoped>
.layout-article {
  background-color: salmon;
}
</style>
