<template>
  <div>
    <p v-if="error.statusCode === 404">Page not found</p>
    <p v-else>An error occurred</p>
  </div>
</template>

<script>
export default {
  props: { error: { type: Object, default: () => ({}) } },
  layout: 'error-layout',
}
</script>
