<template>
  <div class="layout-error">
    <Nuxt />
    <nav>
      <NuxtLink to="/">Home page</NuxtLink>
    </nav>
  </div>
</template>

<style scoped>
.layout-error {
  background-color: yellow;
  color: black;
}
</style>
