<template>
  <div>
    <h2>Personal blog of Andrei Stoicesco</h2>
    <nav>
      <h4>Article list</h4>
      <ul>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
        <li>Article</li>
      </ul>
    </nav>
  </div>
</template>
